In [1]:
from ib_insync import *
import nest_asyncio
nest_asyncio.apply()

ib = IB()
ib.connect('127.0.0.1', 7497, clientId=2)

In [9]:
util.startLoop()

In [2]:
bank_nifty = Index('BANKNIFTY', 'NSE')
ib.qualifyContracts(bank_nifty)

print(f"bank_nifty's secType : {bank_nifty.secType}")
print(f"bank_nifty's conId   : {bank_nifty.conId}")

bank_nifty's secType : IND
bank_nifty's conId   : 56994300

In [6]:
cds = ib.reqContractDetails(bank_nifty)

len(cds)

1

In [8]:
util.df(cds)

,contract,marketName,minTick,sizeMinTick,orderTypes,validExchanges,priceMagnifier,underConId,longName,contractMonth,...,callable,putable,coupon,convertible,maturity,issueDate,nextOptionDate,nextOptionType,nextOptionPartial,notes
0,"Contract(secType='IND', conId=56994300, symbol...",,0.5,1.0,"ACTIVETIM,AD,ADJUST,ALERT,ALLOC,BASKET,BENCHPX...",NSE,1,0,Nifty Bank,,...,False,False,0,False,,,,,False,

In [39]:
ib.reqMarketDataType(4)

In [13]:
[ticker] = ib.reqTickers(bank_nifty)
ticker

Ticker(contract=Index(conId=56994300, symbol='BANKNIFTY', exchange='NSE', currency='INR', localSymbol='BANKNIFTY'), time=datetime.datetime(2022, 4, 18, 11, 26, 0, 108993, tzinfo=datetime.timezone.utc), marketDataType=3, bid=-1.0, bidSize=0.0, ask=-1.0, askSize=0.0, last=36791.5, lastSize=1.0, close=37463.5)

In [14]:
chains = ib.reqSecDefOptParams('BANKNIFTY', '', bank_nifty.secType, bank_nifty.conId)
util.df(chains)

,exchange,underlyingConId,tradingClass,multiplier,expirations,strikes
0,NSE,56994300,BANKNIFTY,1,"[20220421, 20220428, 20220505, 20220512, 20220...","[25500.0, 27000.0, 28500.0, 28900.0, 29000.0, ..."

In [15]:
chains

[OptionChain(exchange='NSE', underlyingConId='56994300', tradingClass='BANKNIFTY', multiplier='1', expirations=['20220421', '20220428', '20220505', '20220512', '20220519', '20220526', '20220630', '20220929', '20221229', '20230330'], strikes=[25500.0, 27000.0, 28500.0, 28900.0, 29000.0, 29100.0, 29200.0, 29300.0, 29400.0, 29500.0, 29600.0, 29700.0, 29800.0, 29900.0, 30000.0, 30100.0, 30200.0, 30300.0, 30400.0, 30500.0, 30600.0, 30700.0, 30800.0, 30900.0, 31000.0, 31100.0, 31200.0, 31300.0, 31400.0, 31500.0, 31600.0, 31700.0, 31800.0, 31900.0, 32000.0, 32100.0, 32200.0, 32300.0, 32400.0, 32500.0, 32600.0, 32700.0, 32800.0, 32900.0, 33000.0, 33100.0, 33200.0, 33300.0, 33400.0, 33500.0, 33600.0, 33700.0, 33800.0, 33900.0, 34000.0, 34100.0, 34200.0, 34300.0, 34400.0, 34500.0, 34600.0, 34700.0, 34800.0, 34900.0, 35000.0, 35100.0, 35200.0, 35300.0, 35400.0, 35500.0, 35600.0, 35700.0, 35800.0, 35900.0, 36000.0, 36100.0, 36200.0, 36300.0, 36400.0, 36500.0, 36600.0, 36700.0, 36800.0, 36900.0, 37000.0, 37100.0, 37200.0, 37300.0, 37400.0, 37500.0, 37600.0, 37700.0, 37800.0, 37900.0, 38000.0, 38100.0, 38200.0, 38300.0, 38400.0, 38500.0, 38600.0, 38700.0, 38800.0, 38900.0, 39000.0, 39100.0, 39200.0, 39300.0, 39400.0, 39500.0, 39600.0, 39700.0, 39800.0, 39900.0, 40000.0, 40100.0, 40200.0, 40300.0, 40400.0, 40500.0, 40600.0, 40700.0, 40800.0, 40900.0, 41000.0, 41100.0, 41200.0, 41300.0, 41400.0, 41500.0, 41600.0, 41700.0, 41800.0, 41900.0, 42000.0, 42100.0, 42200.0, 42300.0, 42400.0, 42500.0, 42600.0, 42700.0, 42800.0, 42900.0, 43000.0, 43100.0, 43200.0, 43300.0, 43500.0, 45000.0, 46500.0])]

In [40]:
expirations = ['20220421']
strikes = [36800.0]
rights = ['P', 'C']

opt_request_set = [Option('BANKNIFTY', expiration, strike, right, 'NSE', tradingClass='BANKNIFTY')
        for right in rights
        for expiration in expirations
        for strike in strikes]

In [41]:
tickers = ib.reqTickers(*opt_request_set)

tickers

Error 354, reqId 321: Requested market data is not subscribed.Delayed market data is not available.BANKNIFTY APR 21 '22 36800 Put/TOP/ALL, contract: Option(symbol='BANKNIFTY', lastTradeDateOrContractMonth='20220421', strike=36800.0, right='P', exchange='NSE', tradingClass='BANKNIFTY')
Error 354, reqId 322: Requested market data is not subscribed.Delayed market data is not available.BANKNIFTY APR 21 '22 36800 Call/TOP/ALL, contract: Option(symbol='BANKNIFTY', lastTradeDateOrContractMonth='20220421', strike=36800.0, right='C', exchange='NSE', tradingClass='BANKNIFTY')

[Ticker(contract=Option(symbol='BANKNIFTY', lastTradeDateOrContractMonth='20220421', strike=36800.0, right='P', exchange='NSE', tradingClass='BANKNIFTY')),
 Ticker(contract=Option(symbol='BANKNIFTY', lastTradeDateOrContractMonth='20220421', strike=36800.0, right='C', exchange='NSE', tradingClass='BANKNIFTY'))]

Error 10090, reqId 321: Part of requested market data is not subscribed. Subscription-independent ticks are still active.Delayed market data is available.BANKNIFTY Nifty Bank/TOP/ALL
Error 10090, reqId 322: Part of requested market data is not subscribed. Subscription-independent ticks are still active.Delayed market data is available.BANKNIFTY Nifty Bank/TOP/ALL
Error 10197, reqId 321: No market data during competing live session
Error 10197, reqId 322: No market data during competing live session